@using Budget_Project.Infrastructure
@model List<Budget_Project.Models.Transaction>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Total Expense</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.totalExpense</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">

                        <h3 class="card-title text-white">@ViewBag.totalThisMonthName Expense</h3>

                        @if (ViewBag.totalThisMonthExpense != "")
                        {
                            <div class="d-inline-block">
                                <h2 class="text-white"> @ViewBag.totalThisMonthExpense</h2>
                            </div>
                        }
                        else
                        {
                            <div class="d-inline-block">
                                <h2 class="text-white"> 0 @Defaults.MoneyType</h2>
                            </div>
                        }
                        <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-widget">
                    <div class="card-body">
                        <h5 class="text-muted">Expenses By Month </h5>
                        @foreach (var item in ViewBag.years)
                        {
                            <hr />
                            <h6 class="text-muted"><b>@item</b></h6>

                            foreach (DateTime item2 in ViewBag.allDates)
                            {

                                if (item == item2.Year)
                                {
                                    if (Model.Where(x => x.CreatedDate.Value.Month == item2.Month && x.CreatedDate.Value.Year == item).Sum(x => x.Amount) != 0)
                                    {

                                        <div class="mt-4">
                                            <h6 class="m-t-10 text-muted">@item2.ToString("MMMM") <span class="pull-right"> @String.Format("{0:0.00}", Model.Where(x => x.CreatedDate.Value.Year == item && x.CreatedDate.Value.Month == item2.Month).Sum(x => x.Amount)) + @Defaults.MoneyType</span></h6>
                                        </div>
                                    }
                                }

                            }
                            if (Model.Where(x => x.CreatedDate.Value.Year == item).Sum(x => x.Amount) == 0)
                            {

                                <div class="mt-4">
                                    <h6 class="m-t-10 text-muted">No Transaction</h6>
                                </div>
                            }

                        }
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Fullname</th>
                                            <th>Description</th>
                                            <th>Total</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var transactions in Model)
                                        {
                                            <tr>
                                                <td>@transactions.Id</td>
                                                <td>@transactions.Name</td>
                                                <td>@transactions.Description</td>
                                                <td>@String.Format("{0:0.00}", transactions.Amount) + @Defaults.MoneyType</td>
                                                <td>@transactions.CreatedDate</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- #/ container -->
</div>
